.formula-image{
    background: url(../../Assets/Img/HomeImage/FormulaImage.png);
    background-repeat: no-repeat;

}

.atom-image{
    background: url(../../Assets/Img/HomeImage/Atom.png);
    background-repeat: no-repeat;
}